APP_KEYWORDS="gtav, ragemp, gta, roleplay, comunidad de rol, rol, gtahub, gta v roleplay, gta 5 roleplay, gta v online, gta 5 online, gta v roleplay server, gta 5 roleplay server, gta v roleplay comunidad, gta 5 roleplay comunidad, gta v roleplay español, gta 5 roleplay latino, gta v roleplay argentina, gta 5 roleplay chile, gta 5 roleplay peru, gta 5 roleplay mexico, gta 5 roleplay colombia, gta 5 roleplay venezuela, gta 5 roleplay ecuador, gta 5 roleplay bolivia, gta 5 roleplay paraguay, gta 5 roleplay uruguay, gta 5 roleplay brasil, gta 5 roleplay portugal, gta 5 roleplay españa, gta 5 roleplay italia, gta 5 roleplay francia, gta 5 roleplay alemania, gta 5 roleplay rusia, gta 5 roleplay china, gta 5 roleplay japon, gta 5 roleplay corea, gta 5 roleplay india, gta 5 roleplay indonesia, gta 5 roleplay filipinas, gta 5 roleplay australia, gta 5 roleplay nueva zelanda, gta 5 roleplay comunidad internacional, gtaworld, lsrp, usrp, fivem, altv, rd roleplay"
APP_NAME="American Stories"
APP_SLOGAN="Comunidad de rol en español"
APP_URL="https://americanstories.mp"